attrs
certifi==2020.6.20
importlib-metadata
iniconfig
mkl-fft==1.1.0
mkl-random==1.1.1
mkl-service==2.3.0
more-itertools
numpy
packaging
Pint
pluggy
py
pyparsing==2.4.7
pytest==6.0.1
six
toml
zipp==3.1.0
